body {
    font-family: Arial, sans-serif;
    text-align: center;
    /* background-color: #f4f4f9; */
    background: linear-gradient(45deg, yellow, blue);
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0;
  }
  h1 {
    color: #f5eeee;
    margin-top: 20px;
  }
  .menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
  }
  .menu-option {
    margin: 15px;
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .menu-option:hover {
    background-color: #0056b3;
  }
  .back-link {
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
  }
  .back-link:hover {
    text-decoration: underline;
  }

/* Estilo para el loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #f4f4f9; */
  background: linear-gradient(45deg, rgb(97, 96, 89), blue);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.loader.hidden {
  opacity: 0;
  pointer-events: none;
}

.loader h1 {
  font-size: 24px;
  color: #333;
  animation: fadeInOut 1s infinite;
}

/* Animación para el texto del loader */
@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}